@charset "UTF-8";
html {
	overflow-y: scroll; /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
	/*Internet Explorerが独自に追加したプロパティ*/
	/*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}
/* リセットおまじない--------------------------------- */

body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}
li {
	list-style: none;
}
a {
	outline: none;
	color: inherit;
    text-decoration: none;
}
img {
	border: 0px;
	vertical-align: bottom;
}
/* --------------------------------------------------- */
/* 共通 */
.btn {
	color: #707070;
	background-color: #F5E1A0;
	border-color: white;
	border-width: 3px;
}

.btn:hover {
	background-color: #F5939C;
	border-color: white;
}

/* header */
.accent_color {
    color: #F5939C;
}

.top03_text {
	color: #707070;
}

 /* ---footer--- */
 .footer_text {
    color: #F5E1A0;
}

.no-gutters {
  margin:0;
  padding:0;
}
 
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  margin:0;
  padding:0;
}

.home {
	background-color:#F2F2F2;
	position: relative;
	color:#707070;
}

.home_topic {
	width: 800px;
	margin: 300px 10vw  0 auto;
}

.home_container {
	display: flex;
}

.comment-body {
	padding: 0.5em 1em;
	margin: 0.5em;
    color: #707070;/*文字色*/
    background: #FFF;
	border: solid 1px #707070;/*線*/
	position: relative;
}

.comment-author {
	text-align: left;
}

.comment-meta {
	position: absolute;
	top: 90px;
	left: 540px;
}

.wpulike {
	text-align: left;
}

.reply {
	text-align: right;
}

.comment-respond {
	width: 800px;
	position: absolute;
	top: 60px;
}

textarea {
	width: 100%;
}

.sidebar {
	margin-left: 10vw
}

.sidebar_menu {
	padding: 0.5em 1em;
	margin: 0.5em;
    color: #707070;/*文字色*/
	border: solid 5px white;

}
.wpulike-default::after{
	
	vertical-align: middle;
	margin-left: 20px;
	content: "Watch";
	font-size: 20px;
	color: #F5939C;
}
